.Experience {
    padding-block: 10px;
    position: relative;
    min-height: 300px;
}

.Experience .heading {
    text-transform: uppercase;
    letter-spacing: 1.2;
    border-block: 1px solid rgba(128, 128, 128, 0.686);
    padding-block: 5px;
    font-size: 20px;
    padding-inline-start: 5px;
}


.container-experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10px;
    line-height: 1.5;
}

.container-experience .role {
    font-size: 15px;
    font-weight: 400;
}
.container-experience .city {
    font-size: 12px;
    font-weight: 400;
}


.container-experience .date {
    font-size: 13px;
}

.container-experience .company-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.Experience .editBtn {
    visibility: hidden;
    text-transform: uppercase;
    padding-block: 5px;
    padding-inline: 10px;
    background-color: rgb(185, 185, 185);
    outline: none;
    border: 0;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50px;
}

.Experience:hover .editBtn {
    visibility: visible;
}